/* common */
body {
  margin: 0;
  color: rgb(77, 72, 72)
}

img {
  vertical-align: bottom;
}

h1,
h2,
p {
  margin: 0;
}
/* header */

header {
  background: pink;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  color: rgb(77, 72, 72);
}

header .container {
  width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

header .container div + div {
  margin-left: 32px;
}

header h1 {
  font-size: 24px;
}

header ul {
  list-style: none;
  margin: 20 auto;
  padding: 0;
  display: flex;
}

header ul li + li {
  margin-left: 8px;
}

header p {
  margin-top: 16px;
  text-align: center;
  font-family: none;
}
/* main */

main {
  background:rgb(77, 72, 72);
}

main .container {
  width: 600px;
  margin: 0 auto; 
  padding-bottom: 60px;
}

main h1 {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: white;
  padding: 60px 0;
}

main h2 {
  font-weight: noral;
  font-size: 16px;
  color: white;
  /* padding: 20px 10px 0; */
  margin-top: 20px;
  text-align: center;
}

main p {
  font-size: 12px;
  color: white;
  /* margin-bottom: 60px; */
  margin-top:16px;
  text-align: center;
}

main section + section {
  margin-top: 60px;
}
/* footer */
footer {
  padding: 60px 0;
  text-align: center;
}

